<mat-toolbar class="toolbar" color="primary">
    <img src="https://behrend.psu.edu/sites/behrend/files/logos/PSU_EBO_RGB_2C.svg" class="PSUlogo">
    
    <div class="container">
        <div class="title-container">
            <span class="toolbar-title">Research Match Maker</span>
        </div>
        <div class="gradient-button-container">
            <button mat-raised-button class="gradient-button" (click)="goToHomePage();">Home</button>
            <button mat-raised-button class="gradient-button" (click)="goToMatchPage();">View Matches</button>
            <button mat-raised-button class="gradient-button" (click)="goToOppBoardPage();">Opportunity Board</button>
            </div>

    </div>

    <div class="profile-btn-container">
        <a href="/profile-view">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="profile-logo">
        </a>
    </div>
    



 </mat-toolbar>