<app-banner-no-buttons></app-banner-no-buttons>

<!-- Next page: should take you to SSO page to log in -->
<!-- But for now, will take you to home page for faculty/student -->

 <div class="gradient-button-container">
    <span class="login-text">Research Match Maker Login</span><br><br>
    <button mat-raised-button class="gradient-button" (click)="goToFacultyHomePage();">Faculty</button>
    <button mat-raised-button class="gradient-button" (click)="goToStudentHomePage();">Student</button>
    </div>