<app-student-top-menu-bar></app-student-top-menu-bar>

<div class="top-container">
    <div class="top-left-container">
        <button (click)="goToEditProfile()">Edit Profile</button><br><br>
        <span class="name">{{student.first_Name}} {{student.last_Name}}</span><br>
        <img [src]="student.profile_url ? student.profile_url : defaultImage" class="profile-logo">
    </div>
    <div class="top-right-container">
        <button (click)="showModal = true" class="button">Send Message</button><br>
        <span class="profile-text">Major: {{student.major}}</span><br>
        <span class="profile-text">Graduation Date: {{student.graduation_Month}} {{student.graduation_Year}}</span><br>
        <span class="profile-text">Contact: {{student.email}}</span><br>
        <span class="profile-text">GPA: {{student.gpa}}</span><br>

    </div>
</div>

<div class="bot-container">
    <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
        <mat-tab label="Research Interests"> <br><span class="tab-text"><div *ngFor="let item of splitResearchInterest">{{item}}</div></span> </mat-tab>
        <mat-tab label="Research Projects"> <br><span class="tab-text">{{student.research_Project}}</span> </mat-tab>
        <mat-tab label="Skills"> <br><span class="tab-text"><div *ngFor="let item of splitSkills">{{item}}</div></span> </mat-tab>
        <mat-tab label="Afflicated Links"> <br><span class="tab-text"><a href="{{student.link1}}">{{student.link1}}</a></span> </mat-tab>
      </mat-tab-group>
</div>

<app-modal (dismis)="showModal=false" *ngIf="showModal">
    <h3 modalTitle>Compose Email</h3>
    <app-email-form (emailSubmit)="onSubmit($event)" [email]="email"></app-email-form>
</app-modal>
