.top-container {
    display: flex;
    padding-top: 100px;
    padding-left: 200px;
}

.top-left-container {
    flex: 1;
}

.top-right-container {
    padding-top: 100px;
    flex: 4.5;
}

.name {
    font-size: 40px;
    font-weight: bold;
}

.profile-text {
    font-size: 20px;
    line-height: 30px;
}

.profile-logo {
    height: 250px;
}

.bot-container{
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.mat-tab-label {
    color: black;
    font-weight: bold;
}

.tab-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
}

.button {
    background-color: blue;
    color: aliceblue;
    width: 150px;
    height: 30px;
}