<app-student-top-menu-bar pageName="faculty page"></app-student-top-menu-bar>




<div class="container">
    <div class="search-container">
        
        <span class="search-title">Faculty List</span>
        <br>
        <mat-form-field class="search-bar" appearance="fill">
            <mat-label>Search Faculty By: Name, Title, or Research Interests</mat-label>
            <input matInput class="search-bar" [formControl]="searchTerm" (keydown.enter)="FilterAndSearch('', null);"><mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        
    </div>
    <div class="list-container">
        <!-- ../faculty-list -->  
        <ul style="list-style: none;">
            <li *ngFor="let f of faculty">
                <div class="faculty-container">
                    <div class="left-container">
                        <div class="link" (click)="goToFacultyProfile(f.faculty_Id);">{{f.first_Name}} {{f.last_Name}}</div>
                        <b>Title:</b> {{f.title}}<br><br>
                        <b>About Me:</b> <div *ngFor="let about of f.splitAbout">{{about}}</div><br>
                        <b>Research Interests:</b> <div *ngFor="let interest of f.splitResearchInterest">{{interest}}</div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </li>
        </ul> 
    </div>
</div>