<app-student-top-menu-bar></app-student-top-menu-bar>
<!-- ../student-list -->

<ul style="list-style: none;">
    <li *ngFor="let f of faculty">
        <div class="container">
            <div class="left-container">
                <div class="link" (click)="goToFacultyProfile(f.id);">{{f.firstName}} {{f.lastName}}</div>
                <b>Title:</b> {{f.title}}<br><br>
                <b>About Me:</b> <div *ngFor="let about of f.splitAbout">{{about}}</div><br>
                <b>Research Interests:</b> <div *ngFor="let interest of f.splitResearchInterest">{{interest}}</div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </li>
</ul>    