.container {
    padding-left: 20px;
    padding-top: 50px;
}

.faculty-container{
    width: 1500px;
    margin: 1rem auto;
    /*border: 2px solid #92a8d1;*/
    border: 2px solid #000000;
    padding: 2rem;
  /*background-color: #e4f2fe;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.search-container {
    padding: 20px;
}

.search-title {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 26px;
    padding: 20px;
}

.search-bar {
    width: 500px;
    padding-left: 20px;
}

.stepper {
    align-self: center;
}

.link{
    background:none; 
    border:none; 
    font-weight: bold;
    font-size: 24px;
    font-family: sans-serif;
}

.link:hover {
    color:  #1663BE
}


