<app-faculty-top-menu-bar></app-faculty-top-menu-bar>

<div class="homeBody">
    <h1>
        Featured Projects
    </h1>
        <div class="projectImages">
            <img class="projImage" src="https://www.jedunn.com/sites/default/files/127/Life%20Sciences%20projects.jpg" alt="image">
            <div class="text1">
                <p>Project 1 description</p>
            </div>
        </div>

        <div>
            <div class="projectImages">
            <img class="projImage" src="https://www.jedunn.com/sites/default/files/127/Life%20Sciences%20projects.jpg" alt="image">
            <div class="text2">
                <p>Project 2 description</p>
            </div>
        </div>

</div>


<!-- <button type="button" [routerLink]="'profile-view'">To the profile view!</button> -->

