<app-student-top-menu-bar></app-student-top-menu-bar>
<!-- /view-matches page -->

<h1 class="header">APPLIED MATCHES</h1>

<ul style="list-style: none;">
    <li *ngFor="let r of research">
        <div class="container">
            <div class="left-container">

                <!-- progress bar -->
                Current Progress:  <br>
                
                <mat-stepper class="stepper">
                    <mat-step label="Applied"><div>
                        <button mat-button matStepperNext>Next Step: Recieved</button>
                      </div>
                    </mat-step>

                    <mat-step label="Received">
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next Step: Review</button>
                      </div>
                    </mat-step>

                    <mat-step label="In Review">
                        <div>
                          <button mat-button matStepperPrevious>Back</button>
                          <button mat-button matStepperNext>Next Step: Vedict</button>
                        </div>
                      </mat-step>

                      <!-- <mat-step [completed]="completed" [state]="state" label="Verdict"> -->
                      <mat-step label="Verdict">
                        <div>
                          <button mat-button (click)="stepperDone()">Accept</button>
                        </div>
                      </mat-step>
                
                  </mat-stepper>

                <p><b>{{r.name}}</b> <br>
                {{r.faculty_FirstName}} {{r.faculty_LastName}}<br>
                {{r.address}} <br><br>
                <b>Description:</b> {{r.description}}<br><br>
                <b>Required Skills:</b> <div *ngFor="let skill of splitRequiredSkills">{{skill}}</div><br>
                <b>Encouraged Skills:</b> <div *ngFor="let skill of splitEncouragedSkills">{{skill}}</div><br><br>
            </div>

            <div class="right-container">
                <div *ngIf="r.active==false"> Complete </div>
                <div *ngIf="r.active==true"> Ongoing </div>

                {{r.start_Date}} - {{r.end_Date}}<br>
                {{r.incentive_type}}<br>
                {{r.location}}
            </div>
            <div style="clear:both;"></div>
        </div>
    </li>
</ul>   

