<app-student-top-menu-bar></app-student-top-menu-bar>
<!-- /view-matches page -->

<h1 class="header">APPLIED MATCHES</h1>

<ul style="list-style: none;">
    <li *ngFor="let r of research">
        <div class="container">
          <div class="top-container">
              <!-- progress bar -->
              <b>Current Progress:</b><br>
              <mat-horizontal-stepper #stepper class="stepper">

                <ng-template matStepperIcon="edit">
                  <mat-icon>done</mat-icon>
                </ng-template>

                <mat-step label="Applied" state="isDone"></mat-step>
                <mat-step label="Received"></mat-step>
                <mat-step label="In Review"></mat-step>
                <mat-step [state]="state" label="Verdict"></mat-step>
                
              </mat-horizontal-stepper>

          </div>

            <div class="left-container">
              <p><b>{{r.name}}</b> <br>
              {{r.faculty_FirstName}} {{r.faculty_LastName}}<br>
              {{r.address}} <br><br>
              <b>Description:</b> {{r.description}}<br><br>
              <b>Required Skills: </b>{{r.splitRequiredSkills}}<br>
              <b>Encouraged Skills: </b>{{r.splitEncouragedSkills}}<br><br>
          </div>

          <div class="right-container">
              <div *ngIf="r.active==false"> Complete </div>
              <div *ngIf="r.active==true"> Ongoing </div>
              {{r.start_Date}} - {{r.end_Date}}<br>
              {{r.location}}<br>
              <div *ngIf="r.isPaid==1"> Paid</div>
              <div *ngIf="r.isNonpaid==1"> Nonpaid</div>
              <div *ngIf="r.isCredit==1"> Credit</div>
          </div>
          <div style="clear:both;"></div>
      </div>

            
    </li>
</ul>   

