<app-faculty-top-menu-bar></app-faculty-top-menu-bar>
<!-- ../student-list -->

<ul style="list-style: none;">
    <li *ngFor="let s of student">
        <div class="container">
            
            <div class="left-container">
                <div class="link" (click)="goToStudentProfile(s.id);">{{s.firstName}} {{s.lastName}}</div>
                <b>Graduation Date:</b> {{s.graduationMonth}} {{s.graduationYear}}<br>
                <b>Major:</b> {{s.major}}<br>
                <b>GPA:</b> {{s.gpa}} <br><br>
                <b>Skills:</b> <div *ngFor="let skill of s.splitSkills">{{skill}}</div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </li>
</ul>    