.container-1 {
    /*padding-left: 200px;*/
    padding-top: 50px;
    padding-bottom: 30px;
    width: 1500px;
    margin-left: 190px;
    margin-right: 100px;
}

.container{
    width: 1500px;
    margin: 1rem auto;
    /*border: 2px solid #92a8d1;*/
    padding: 2rem;
    /*background-color: #e4f2fe;*/
    font-family: sans-serif;
    display: flex;
    padding-bottom: 50px;
    border-top: 1px solid gray;
    border-bottom:  1px solid gray;
    border-right:  1px solid gray;
    border-left:  1px solid gray;
}

.left-container{
    float: left;
    width: 80%;
}

.right-container {
    text-align: right;
    float: right;
    width: 20%;
}

  .btn {
    margin-right: 10px;
  }

  .link{
    background:none; 
    border:none; 
    font-weight: bold;
    font-size: 15px;
    color: #1c2e4a;
    font-family: sans-serif;
}