<app-faculty-top-menu-bar></app-faculty-top-menu-bar>
<!-- ../faculty-research -->

<div class="container-1">
    <button type="button" (click)="addResearchPage();">Add Research</button>
</div>

<ul style="list-style: none;">
    <li *ngFor="let r of research, let researchPage=index">
        <div class="container">
            
            <div class="left-container">
                <b><a class="link" style="font-size: 24px !important;">{{r.name}}</a></b>
                <br><b>{{ r.first_Name }} {{ r.last_Name }}</b><br>
                <b>{{r.address}}</b><br><br>
                <b>Description:</b> {{r.description}}<br><br>
                <b>Required Skills:</b> {{r.required_Skills}}<br>
                <b>Encouraged Skills:</b> {{r.encouraged_Skills}}<br><br>
                <button type="button" class="btn" (click)="editResearchPage(r.research_Id);">Edit Research Info</button>
                <button type="button" class="btn" (click)="viewApplicantsPage(r.research_Id);">View Applicants</button>
            </div>

            <div class="right-container">
                <div *ngIf="r.active==false"> Complete </div>
                <div *ngIf="r.active==true"> Ongoing </div>
                {{r.start_Date}} - {{r.end_Date}}<br>
                {{ r.location }}<br>
                <div *ngIf="r.isPaid==true"> Paid</div>
                <div *ngIf="r.isNonpaid==true"> Nonpaid</div>
                <div *ngIf="r.isCredit==true"> Credit</div>

            </div>

            
            <div style="clear:both;"></div>
        </div>
    </li>
</ul>    
