@import 'semantic-ui-css/semantic.css';

a.active{
    display:flex;
    justify-content:flex-start;
    align-items:center;
}

.item{
    width: 500px;
    height: auto;
    display: flex;
   
}

a.active:before{
    content:'>';
    font-size:20px;
    margin-right:10px;
}

.content{
    width:90%;
}

.trim{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:100%;
}