<app-top-menu-bar></app-top-menu-bar>

<div class="top-container">
    <div class="top-left-container">
        <span class="name">Jane Doe</span><br>
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="profile-logo">
    </div>
    <div class="top-right-container">
        <span class="job-title">Associate Professor</span><br>
        <span class="dept">Computer Science and Software Engineer</span><br>
        <span class="contact">dxi5017@psu.edu</span><br>
        <span class="office">123 Burke</span><br>

    </div>
</div>

<div class="bot-container">

</div>
