@import 'semantic-ui-css/semantic.css';

.header{
    width: 800px;
    float: right;
    padding-right: 500px;
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 50px;

}

.body {
    width: 800px;
    float: right;
    padding-right: 500px;
    display: right;
    padding-left: 20px;
    
}

.ui.divider{
    width: 800px;
    display: flex;
    padding-right: 500px;
    padding-left: 50px;
    
}

