<app-student-top-menu-bar pageName="opp page"></app-student-top-menu-bar>
<!-- /opp-board page -->

<div class="container">
    <div class="left-container">
        <span class="filter-title">Filter Research Results</span><br>

        <mat-nav-list>
        <!-- Department Filters -->
            <mat-list-item (click)="toggle[0] = !toggle[0]">
                <span *ngIf="!toggle[0]"><mat-icon>keyboard_arrow_right</mat-icon></span>
                <span *ngIf="toggle[0]"><mat-icon>keyboard_arrow_down</mat-icon></span>
                <div [ngClass]="!toggle[0] ? 'parent-filter' : 'parent-filter-bold'">Department</div>
            </mat-list-item>

            <div [hidden]="!toggle[0]" style="margin-left: 25px;">
                <!-- Engineering Options -->
            <mat-list-item (click)="toggle[1] = !toggle[1]">
                <a *ngIf="!toggle[1]"><mat-icon>keyboard_arrow_right</mat-icon></a>
                <a *ngIf="toggle[1]"><mat-icon>keyboard_arrow_down</mat-icon></a>
                <a [ngClass]="!toggle[1] ? 'parent-filter' : 'parent-filter-bold'">{{departments[0].name}}</a>
                <mat-icon *ngIf="!toggle[1]"></mat-icon> <mat-icon *ngIf="toggle[1]"></mat-icon>
            </mat-list-item>
            <div [hidden]="!toggle[1]">
                <mat-selection-list [formControl]="engineeringValue" (selectionChange)="FilterAndSearch('Department', $event)">
                    <mat-list-option style="margin-left: 25px;" *ngFor="let item of engineeringItems" checkboxPosition="before" value={{item.name}}>
                        {{ item.name }}
                    </mat-list-option>
                </mat-selection-list>
            </div>
        
            <!-- Political Science Options -->
            <mat-list-item (click)="toggle[2] = !toggle[2]">
                <a *ngIf="!toggle[2]"><mat-icon>keyboard_arrow_right</mat-icon></a>
                <a *ngIf="toggle[2]"><mat-icon>keyboard_arrow_down</mat-icon></a>
                <a [ngClass]="!toggle[2] ? 'parent-filter' : 'parent-filter-bold'">{{departments[1].name}}</a>
            </mat-list-item>
            <div [hidden]="!toggle[2]">
                <mat-selection-list [formControl]="politicalValue" (selectionChange)="FilterAndSearch('Department', $event)">
                    <mat-list-option style="margin-left: 25px;" *ngFor="let item of politicalScienceItems" checkboxPosition="before" value={{item.name}}>
                        {{ item.name }}
                    </mat-list-option>
                </mat-selection-list>
            </div>

            <!-- Business Options -->
            <mat-list-item (click)="toggle[3] = !toggle[3]">
                <a *ngIf="!toggle[3]"><mat-icon>keyboard_arrow_right</mat-icon></a>
                <a *ngIf="toggle[3]"><mat-icon>keyboard_arrow_down</mat-icon></a>
                <a [ngClass]="!toggle[3] ? 'parent-filter' : 'parent-filter-bold'">{{departments[2].name}}</a>
            </mat-list-item>
            <div [hidden]="!toggle[3]">
                <mat-selection-list [formControl]="businessValue" (selectionChange)="FilterAndSearch('Department', $event)">
                    <mat-list-option style="margin-left: 25px;" *ngFor="let item of businessItems" checkboxPosition="before" value={{item.name}}>
                        {{ item.name }}
                    </mat-list-option>
                </mat-selection-list>
            </div>

            <!-- Humanities Options -->
            <mat-list-item (click)="toggle[4] = !toggle[4]">
                <a *ngIf="!toggle[4]"><mat-icon>keyboard_arrow_right</mat-icon></a>
                <a *ngIf="toggle[4]"><mat-icon>keyboard_arrow_down</mat-icon></a>
                <a [ngClass]="!toggle[4] ? 'parent-filter' : 'parent-filter-bold'">{{departments[3].name}}</a>
            </mat-list-item>
            <div [hidden]="!toggle[4]">
                <mat-selection-list [formControl]="humanitiesValue" (selectionChange)="FilterAndSearch('Department', $event)">
                    <mat-list-option style="margin-left: 25px;" *ngFor="let item of humanitiesSocialScienceItems" checkboxPosition="before" value={{item.name}}>
                        {{ item.name }}
                    </mat-list-option>
                </mat-selection-list>
            </div>

            <!-- Sciences Options -->
            <mat-list-item (click)="toggle[5] = !toggle[5]">
                <a *ngIf="!toggle[5]"><mat-icon>keyboard_arrow_right</mat-icon></a>
                <a *ngIf="toggle[5]"><mat-icon>keyboard_arrow_down</mat-icon></a>
                <a [ngClass]="!toggle[5] ? 'parent-filter' : 'parent-filter-bold'">{{departments[4].name}}</a>
            </mat-list-item>
            <div [hidden]="!toggle[5]">
                <mat-selection-list [formControl]="scienceValue" (selectionChange)="FilterAndSearch('Department', $event)">
                    <mat-list-option style="margin-left: 25px;" *ngFor="let item of scienceItems" checkboxPosition="before" value={{item.name}}>
                        {{ item.name }}
                    </mat-list-option>
                </mat-selection-list>
            </div>

            <!-- Nursing Options -->
            <mat-list-item (click)="toggle[6] = !toggle[6]">
                <a *ngIf="!toggle[6]"><mat-icon>keyboard_arrow_right</mat-icon></a>
                <a *ngIf="toggle[6]"><mat-icon>keyboard_arrow_down</mat-icon></a>
                <a [ngClass]="!toggle[6] ? 'parent-filter' : 'parent-filter-bold'">{{departments[5].name}}</a>
            </mat-list-item>
            <div [hidden]="!toggle[6]">
                <mat-selection-list [formControl]="nursingValue" (selectionChange)="FilterAndSearch('Department', $event)">
                    <mat-list-option style="margin-left: 25px;" *ngFor="let item of nursingItems" checkboxPosition="before" value={{item.name}}>
                        {{ item.name }}
                    </mat-list-option>
                </mat-selection-list>
            </div></div>
            <!-- End Department Filter -->

            <!-- Status Options -->
            <mat-list-item (click)="toggle[10] = !toggle[10]">
                <a *ngIf="!toggle[10]"><mat-icon>keyboard_arrow_right</mat-icon></a>
                <a *ngIf="toggle[10]"><mat-icon>keyboard_arrow_down</mat-icon></a>
                <a [ngClass]="!toggle[10] ? 'parent-filter' : 'parent-filter-bold'">Status</a>
            </mat-list-item>
            <div [hidden]="!toggle[10]">
                <mat-selection-list [formControl]="status" (selectionChange)="FilterAndSearch('Status', $event)">
                    <mat-list-option style="margin-left: 25px;" checkboxPosition="before" value="true">Ongoing</mat-list-option>
                    <mat-list-option style="margin-left: 25px;" checkboxPosition="before" value="false">Complete</mat-list-option>
                </mat-selection-list>
            </div>

            <!-- Location Options -->
            <mat-list-item (click)="toggle[11] = !toggle[11]">
                <a *ngIf="!toggle[11]"><mat-icon>keyboard_arrow_right</mat-icon></a>
                <a *ngIf="toggle[11]"><mat-icon>keyboard_arrow_down</mat-icon></a>
                <a [ngClass]="!toggle[11] ? 'parent-filter' : 'parent-filter-bold'">Location</a>
            </mat-list-item>
            <div [hidden]="!toggle[11]">
                <mat-selection-list [formControl]="location" (selectionChange)="FilterAndSearch('Location', $event)">
                    <mat-list-option style="margin-left: 25px;" checkboxPosition="before" value="On-Campus">On-Campus</mat-list-option>
                    <mat-list-option style="margin-left: 25px;" checkboxPosition="before" value="Online">Online</mat-list-option>
                    <mat-list-option style="margin-left: 25px;" checkboxPosition="before" value="Both">Both/Hybrid</mat-list-option>
                </mat-selection-list>
            </div>

            <!-- Incentive Options -->
            <mat-list-item (click)="toggle[12] = !toggle[12]">
                <a *ngIf="!toggle[12]"><mat-icon>keyboard_arrow_right</mat-icon></a>
                <a *ngIf="toggle[12]"><mat-icon>keyboard_arrow_down</mat-icon></a>
                <a [ngClass]="!toggle[12] ? 'parent-filter' : 'parent-filter-bold'">Incentive</a>
            </mat-list-item>
            <div [hidden]="!toggle[12]">
                <mat-selection-list [formControl]="incentive" (selectionChange)="FilterAndSearch('Incentive', $event)">
                    <mat-list-option style="margin-left: 25px;" checkboxPosition="before" value="Paid">Paid</mat-list-option>
                    <mat-list-option style="margin-left: 25px;" checkboxPosition="before" value="Nonpaid">Nonpaid</mat-list-option>
                    <mat-list-option style="margin-left: 25px;" checkboxPosition="before" value="Credit">Credit</mat-list-option>
                </mat-selection-list>
            </div>

        </mat-nav-list>
    </div>

    <!-- Match Result -->
    <div class="right-container">
        <span class="result-title">Research Results</span><br><br>

        <mat-form-field class="search-bar" appearance="fill">
            <mat-label>Search Researches By: Research Name, Description, Skills, Faculty Name</mat-label>
            <input matInput class="search-bar" [formControl]="searchTerm" (keydown.enter)="FilterAndSearch('', null);"><mat-icon matPrefix>search</mat-icon>
          </mat-form-field>
    
        <ul style="list-style: none;">
            <li *ngFor="let r of filteredResearch, let researchPage=index">
                    <br><div class="left-sub-container">
                        <b><a class="link" style="font-size: 24px !important;">{{r.name}}</a><br></b>
                        <a class="link" (click)="goToProfile(r.faculty_Id);">{{r.first_Name}} {{r.last_Name}}</a><br>
                        {{r.address}} <br><br>
                        <b>Description:</b> {{r.description}}<br><br>
                        <b>Required Skills:</b> {{r.splitRequiredSkills}}<br>
                        <b>Encouraged Skills:</b> {{r.splitEncouragedSkills}}<br><br>
                        <button (click)="applyToResearch(r.research_Id);"> Apply to Research </button>
                        <br><br>
                    </div>
        
                    <div class="right-sub-container">
                        <div *ngIf="r.active==false"> Complete </div>
                        <div *ngIf="r.active==true"> Ongoing </div>
                        {{r.start_Date}} - {{r.end_Date}}<br>
                        {{r.location}}<br>
                        <div *ngIf="r.isPaid==true"> Paid</div>
                        <div *ngIf="r.isNonpaid==true"> Nonpaid</div>
                        <div *ngIf="r.isCredit==true"> Credit</div>
                    </div>
                    <div style="clear:both; border-bottom:1px solid gray; "></div>
            </li>
        </ul>    
    </div>
</div>

