.container {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
}
.container2{
    width: 1200px;
    margin: 1rem;
    border: 2px solid #000000;
    padding: 2rem;
    background-color: #fefefe;
    font-family: sans-serif;
    position: relative;
    left: -36px;
    background-color: #e4f2fe;
    
}

.left-container{
    /* border: 1px solid gray; */
    /* border-radius: 5px; */
    /* flex: 1; */

    float: left;
    width: 15%
}

.right-container {
    /* border: 1px solid gray; */
    float: right;
    padding-left: 5px;
    width: 80%;
    /* padding: 2rem; */
    /* border: 2px solid #92a8d1;
    background-color: #e4f2fe; */
    font-family: sans-serif;
}

.filter-title {
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 10px;
    font-size: 18px;
    /* text-decoration: underline; */
}

.result-title {
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 10px;
    font-size: 26px;
}

.left-sub-container{
    float: left;
    width: 75%;
}

.right-sub-container {
    text-align: right;
    float: right;
    width: 25%;
}

.link { 
    background:none; 
    border:none; 
    font-weight: bold;
    font-size: 18px;
}

.link:hover {
    color:  #1663BE
}

.parent-filter{
    padding-bottom: 2.5px; 
}

.child-filter{
    padding-bottom: 2.5px; 
}

.parent-filter-bold{
    padding-bottom: 2.5px; 
    font-weight: bold;
}

.search-bar{
    width: 1000px;
    height: 20px;
    margin-left: 20px;
}


.search-btn {
  margin-left: 10px;
  align-items: center;
  padding: 6px 14px;
  font-family: sans-serif;
  border-radius: 6px;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
}