<app-faculty-top-menu-bar></app-faculty-top-menu-bar>
<!-- /view-matches page -->
<span class="noAppheader" *ngIf="student.length === 0">NO APPLICANTS YET!</span> 
<span *ngIf="student.length > 0">
  <h1 class="header">APPLICANTS FOR: {{research_name}}</h1>
  <ul style="list-style: none;">
    <li *ngFor="let s of student">
        <div class="container">

          Current Progress for Applicant: 
          <span class="link" (click)="goToProfile(s.student_Id);">{{s.first_Name}} {{s.last_Name}}</span><br><br>
          <b>Graduation Date:</b> {{s.graduation_Month}} {{s.graduation_Year}}<br>
          <b>Major:</b> {{s.major}}<br>
          <b>GPA:</b> {{s.gpa}} <br>
          <b>Skills: </b> {{s.skillsWithComma}} <br>
                
          <!-- progress bar -->
          <mat-horizontal-stepper [linear]="false" class="stepper" #stepper>
          <mat-step label="Applied"><div>
          <button mat-button matStepperNext class="button">Next Step: Recieved</button>
          <button mat-button class="button" (click)="saveAppProgress(0, s.student_Id)">Save</button>
          </div></mat-step>

          <mat-step label="Received"><div>
          <button (click)="goBack(stepper)" mat-button matStepperPrevious class="button">Back</button>
          <button mat-button matStepperNext class="button">Next Step: Review</button>
          <button mat-button class="button" (click)="saveAppProgress(1, s.student_Id)">Save</button>
          </div></mat-step>
      
          <mat-step label="In Review"><div>
          <button (click)="goBack(stepper)" mat-button matStepperPrevious class="button">Back</button>
          <button mat-button matStepperNext class="button">Next Step: Verdict</button>
          <button mat-button class="button" (click)="saveAppProgress(2, s.student_Id);">Save</button>
          </div></mat-step>
      
      <!-- <mat-step [completed]="completed" [state]="state" label="Verdict"> -->
          <mat-step *ngIf="s.progress_Bar < 3" label="Verdict">
          <div>
            <button (click)="goBack(stepper)" mat-button matStepperPrevious class="button">Back</button>
          <select id="verdict" style="margin-right: 10px" [formControl]="verdict">
              <option [value]=3>Accept</option>
              <option [value]=4>Reject</option>
          </select>
            <button mat-button class="button" (click)="saveAppProgress(verdict.value!, s.student_Id);">Save</button></div>
          </mat-step>

          <mat-step *ngIf="s.progress_Bar === 3" label="Accepted!">
            <ng-template matStepperIcon="edit"><mat-icon>sentiment_satisfied_alt</mat-icon></ng-template>
            <div>
              <button (click)="goBack(stepper)" mat-button matStepperPrevious class="button">Back</button>
            <select id="verdict" style="margin-right: 10px" [(ngModel)]="accept" [formControl]="verdict">
                <option [value]=3>Accept</option>
                <option [value]=4>Reject</option>
            </select>
              <button mat-button class="button" (click)="saveAppProgress(verdict.value!, s.student_Id);" >Save</button></div>
              <button (click)="showModal = true" class="button">Send Notification</button>
          </mat-step>


          <mat-step *ngIf="s.progress_Bar === 4" label="Rejected">
            <ng-template matStepperIcon="edit"><mat-icon>clear</mat-icon></ng-template>
          
            <div>
              <button (click)="goBack(stepper)" mat-button matStepperPrevious class="button">Back</button>
            <select id="verdict" style="margin-right: 10px" [(ngModel)]="reject" [formControl]="verdict">
                <option [value]=3>Accept</option>
                <option [value]=4>Reject</option>
            </select>
              <button mat-button class="button" (click)="saveAppProgress(verdict.value!, s.student_Id);">Save</button></div>
              <button (click)="showModal = true" class="button">Send Notification</button>
          </mat-step>

      </mat-horizontal-stepper>   
      <div style="clear:both;"></div>
    </div>
  </li>
</ul>   
</span>

<app-modal (dismis)="showModal=false" *ngIf="showModal">
  <h3 modalTitle>Compose Email</h3>
  <app-email-form (emailSubmit)="onSubmit($event)" [email]="updateEmail"></app-email-form>
</app-modal>