<app-faculty-top-menu-bar></app-faculty-top-menu-bar>
<!-- Page can only be seen by self!!! -->

<div class="top-container">
    <div class="top-left-container">
        <button *ngIf="fpsuID === psuID" (click)="goToEditProfile();">Edit Profile</button><br><br>
        <span class="name">{{faculty.first_Name}} {{faculty.last_Name}}</span><br>
        <img src="{{faculty.profile_Url}}" class="profile-logo">
    </div>
    <div class="top-right-container">
        <button (click)="showModal = true" class="button">Send Message</button>
        <span class="profile-text-title"><div *ngFor="let item of splitTitle">{{item}}</div></span><br>
        <span class="profile-text">Email: {{faculty.email}}</span><br>
        <span class="profile-text">Phone: {{faculty.phone}}</span><br>
        <span class="profile-text">Office: {{faculty.office}}</span><br>

    </div>
</div>

<div class="bot-container">
    <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
        <mat-tab label="About Me"> <span class="tab-text"><br><div *ngFor="let item of splitAboutMe">{{item}}</div></span><br><br><br></mat-tab>
        <mat-tab label="Research Projects"> <span class="tab-text"><br>N/A</span><br><br><br></mat-tab>
        <mat-tab label="Research Interests"> <span class="tab-text"><br><div *ngFor="let item of splitResearchInterest">{{item}}</div></span><br><br><br></mat-tab>
        <mat-tab label="Afflicated Links"> <span class="tab-text"><br><a href="{{faculty.link1}}">{{faculty.link1}}</a></span><br><br><br></mat-tab>
      </mat-tab-group>
</div>

<app-modal (dismis)="showModal=false" *ngIf="showModal">
    <h3 modalTitle>Compose Email</h3>
    <app-email-form (emailSubmit)="onSubmit($event)" [email]="email"></app-email-form>
</app-modal>

