<app-student-top-menu-bar></app-student-top-menu-bar>

<div class="homeBody">
    <h1>
        Featured Projects
    </h1>
        <div class="projectImage">
                <img class="projImage">
            <div class="text1">
                <p>Research Name: {{research[getFirstNum()].name}}</p>
                <p>Posted By: {{research[first].faculty_FirstName}} {{research[first].faculty_LastName}}</p>
                <p>Location: {{research[first].location}}</p>
                <p>Dates: {{research[first].start_Date}} - {{research[first].end_Date}}</p>
                <button type="button" class="btn" (click)="goToOppBoardPage();">View Research</button>
            </div>
        </div>

        <div>
            <div class="projectImage2">
                <img class="projImage2">
            <div class="text2">
                <p>Research Name: {{research[getSecondNum()].name}}</p>
                <p>Posted By: {{research[second].faculty_FirstName}} {{research[second].faculty_LastName}}</p>
                <p>Location: {{research[second].location}}</p>
                <p>Dates: {{research[second].start_Date}} - {{research[second].end_Date}}</p>
                <button type="button" class="btn" (click)="goToOppBoardPage();">View Research</button>
            </div>
        </div>

</div>