<app-student-top-menu-bar></app-student-top-menu-bar>

<div class="homeBody">
    <h1>
        Featured Projects
    </h1>
        <div class="projectImage">
                <img class="projImage">
            <div class="text1">
                <p><b>Research Name:</b> {{research[getFirstNum()].name}}</p>
                <p><b>Posted By:</b> {{research[first].first_Name}} {{research[first].last_Name}}</p>
                <p><b>Location:</b> {{research[first].location}}</p>
                <p><b>Dates:</b> {{research[first].start_Date}} - {{research[first].end_Date}}</p>
            </div>
        </div>

        <div>
            <div class="projectImage2">
                <img class="projImage2">
            <div class="text2">
                <p><b>Research Name:</b> {{research[getSecondNum()].name}}</p>
                <p><b>Posted By:</b> {{research[second].first_Name}} {{research[second].last_Name}}</p>
                <p><b>Location:</b> {{research[second].location}}</p>
                <p><b>Dates:</b> {{research[second].start_Date}} - {{research[second].end_Date}}</p>
            </div>
        </div>

</div>