h1 {
    text-align: left;
    padding-left: 100px;
    font-family: sans-serif;
}

.projImage {
    padding-left: 160px;
    padding-top: 30px;
    height: 400px;
    width: 400px;
    float: left;
    margin-left: 200px;
    background-image: url('src\images\business.jpg');
    animation: homePageImage;
    animation-delay: 4s;
    animation-duration:20s;
    animation-iteration-count: infinite;
    transition-delay: 4s;
    transition-duration: 4s;
}

@keyframes homePageImage {
    0% {
        background-image: url('src\images\business.jpg');
    }
    25% {
        background-image: url('src\images\nursing.jpg');
    }
    50% {
        background-image: url('src\images\engineering.jpg');
    }
    75% {
        background-image: url('src\images\humanities.jpg');
    }
    100% {
        background-image: url('src\images\science.jpg');
    }
}

.projImage2 {
    padding-left: 140px;
    padding-top: 30px;
    height: 400px;
    width: 400px;
    float: left;
    margin-left: 130px;
    background-image: url('src\images\visualArts2.jpg');
    animation: homePageImage2;
    animation-delay: 4s;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    transition-delay: 4s;
    transition-duration: 4s;
}

@keyframes homePageImage2 {
    0% {
        background-image: url('src\images\science2.jpg');
    }
    25% {
        background-image: url('src\images\humanities2.jpg');
    }
    50% {
        background-image: url('src\images\engineering2.jpg');
    }
    75% {
        background-image: url('src\images\nursing2.jpg');
    }
    100% {
        background-image: url('src\images\science2.jpg');
    }
}

.text1 {
    position: absolute;
    padding-left: 130px; 
    padding-top: 460px;
    margin-left: 90px;
    vertical-align:  bottom;
    font-family: sans-serif;
}

.text2 {
    position: absolute;
    padding-left: 730px;
    padding-top: 460px;
    margin-left: 190px;
    vertical-align:  bottom;
    font-family: sans-serif;
}