<app-banner-no-buttons></app-banner-no-buttons>

<div class="form">
    <h1>PSU Single Sign On</h1>
    <form>
        <label type="PSUID">PSU ID </label>
        <input type="text" placeholder="Enter PSU ID" size="50" [formControl]="PSUID">
        <br><br>
        <label type="PSUPW">PSU Password </label>
        <input type="text" placeholder="Enter PSU Password" size="50">
        <br><br>
        <input type="submit" value="Submit" id="submitBtn" (click)="goToProfilePage();">
    </form>
</div>