<app-faculty-top-menu-bar></app-faculty-top-menu-bar>

<ul style="list-style: none;">
    <li *ngFor="let r of research">
        <div class="container">
            
            <div class="left-container">
                <b><div style="font-size: 24px;">{{r.name}}</div></b>
                <div class="link" (click)="goToProfile(r.id);">{{r.faculty_FirstName}} {{r.faculty_LastName}}</div>
                {{r.address}} <br><br>
                <b>Description:</b> {{r.description}}<br><br>
                <b>Required Skills:</b> {{r.required_skills}}<br>
                <b>Encouraged Skills:</b> {{r.encouraged_Skills}}<br><br>
            </div>

            <div class="right-container">
                <div *ngIf="r.active==false"> Complete </div>
                <div *ngIf="r.active==true"> Ongoing </div>
                {{r.start_Date}} - {{r.end_Date}}<br>
                {{r.location}}<br>
                <div *ngIf="r.isPaid==1"> Paid</div>
                <div *ngIf="r.isNonpaid==1"> Nonpaid</div>
                <div *ngIf="r.isCredit==1"> Credit</div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </li>
</ul>    
