<mat-toolbar class="toolbar" color="primary">
    <img src="https://behrend.psu.edu/sites/behrend/files/logos/PSU_EBO_RGB_2C.svg" class="PSUlogo">
    <span class="toolbar-spacer"></span>
    <div class="title-container">
        <span class="toolbar-title">Research Connect</span>
    </div>
    <span class="toolbar-spacer"></span>
    <button mat-raised-button class="sign-in-button" (click)="signIn();">Sign In</button>
 </mat-toolbar>

<div class="background">
    <div class="landing-page">
        <section></section>
        <section></section>
    </div>
</div>