h1 {
    text-align: left;
    padding-left: 100px;
}

.projImage {
    padding-left: 110px;
    padding-top: 30px;
    height: 400px;
    width: 600px;
    float: left;
    margin-left: 100px;
}

.text1 {
    position: absolute;
    padding-left: 110px;
    padding-top: 460px;
    margin-left: 100px;
    vertical-align:  bottom;
    font-weight: bold;
}

.text2 {
    position: absolute;
    padding-left: 825px;
    padding-top: 460px;
    margin-left: 200px;
    vertical-align:  bottom;
    font-weight: bold;
}