<app-top-menu-bar></app-top-menu-bar>

<button type="button" (click)="goToProfileViewPage();">To the profile view!</button>
<button type="button" (click)="goToViewStudentPage();">View Student Profile Page</button>
<button type="button" (click)="goToViewFacultyPage();">View Faculty Profile Page</button>

<div class="homeBody">
    <h1>
        Featured Projects

        <div class="projectImages">
            <img class="projImage" src="https://www.jedunn.com/sites/default/files/127/Life%20Sciences%20projects.jpg" alt="image">
            <p> This is where the project description will be posted! </p>
        </div>

        <div class="projImage2">
            <img class="projImage2" src="https://www.jedunn.com/sites/default/files/127/Life%20Sciences%20projects.jpg" alt="image">
            <p> This is where the project description will be posted! </p>
        </div>

    </h1>
</div>


<!-- <button type="button" [routerLink]="'profile-view'">To the profile view!</button> -->