h1 {
    text-align: left;
    padding-left: 100px;
}

.projImage {
    display: flex;
    padding-top: 50px;
    height: 400px;
    width: 600px;
}

.projImage2 {
    display: flex;
    padding-top: 50px;
    height: 400px;
    width: 600px;

}

p {
    text-align: left;
}