<app-banner-no-buttons></app-banner-no-buttons>
<p></p>
<div class="form">

    <h1>
        Student Profile Creation
     </h1>
     <form [formGroup]="studentForm">
        <button class="btns" mat-stroked-button style="font-size: large;" (click)="openFile()">Add Resume
            <input type="file" style="display:none" (change)="handle($event)">
        </button>
        <button class="btns" mat-stroked-button style="font-size: large;"  (click)="openFile()">Add Profile Picture
            <input type="file" style="display:none" (change)="handlePicture($event)">
            
        </button>
        <br><br>

        <input type="file" (change)="onFileSelected($event)">
        <img width="100" [src] = "imgPath" />

        <label type="text" for = "first_name">First Name*</label>
        <input type="text" id="first_name" placeholder="Enter First Name" size="50" [formControl]="firstName">
        <mat-error *ngIf="firstName.invalid && firstName.dirty">{{getFirstNameErrorMessage()}}</mat-error>
        <br> <br>

        <label type="text" for = "last_name">Last Name*</label>
        <input type="text" id="last_name" placeholder="Enter Last Name" size="50" [formControl]="lastName">
        <mat-error *ngIf="lastName.invalid && lastName.dirty">{{getLastNameErrorMessage()}}</mat-error>
        <br> <br>

        <label type="text" for = "email">Email*</label>
        <input type="text" id="email" placeholder="Enter PSU Email" size="50" [formControl]="email">
        <mat-error *ngIf="email.invalid && email.dirty">{{getEmailErrorMessage()}}</mat-error>
        <br> <br>

        <label type="text" for = "gpa">GPA*</label>
        <input type="text" id="gpa" placeholder="Enter GPA" size="50" [formControl]="gpa">
        <mat-error *ngIf="gpa.invalid && gpa.dirty">{{getGPAErrorMessage()}}</mat-error>
        <pre></pre>

        <label type="text" for = "major">Major*</label>
        <select id="major" [formControl]="major">
            <option value=""></option>
            <option value="accounting">Accounting</option>
            <option value="biology">Biology</option>
            <option value="businessecon">Business Economics</option>
            <option value="chemistry">Chemistry</option>
            <option value="comm">Communications</option>
            <option value="Computer Engineer">Computer Engineer</option>
            <option value="Computer Science">Computer Science</option>
            <option value="creative writing">Creative Writing</option>
            <option value="digitalmedia">Digital Media, Arts, and Technology</option>
            <option value="elec/comp tech">Electrical and Computer Engineering Techonology</option>
            <option value="electrical">Electrical Engineering</option>
            <option value="child ed">Elementary and Early Childhood Education</option>
            <option value="english">English</option>
            <option value="envScience">Environmental Science</option>
            <option value="finance">Finance</option>
            <option value="Software Engineer">Software Engineer</option>
        </select>
        <mat-error *ngIf="major.invalid && major.dirty">{{getMajorErrorMessage()}}</mat-error>
        <pre></pre>

        <label type="text" for = "major">Double Major (optional)</label>
        <select id="major" [formControl]="doubleMajor">
            <option value=""></option>
            <option value="accounting">Accounting</option>
            <option value="biology">Biology</option>
            <option value="businessecon">Business Economics</option>
            <option value="chemistry">Chemistry</option>
            <option value="comm">Communications</option>
            <option value="Computer Engineer">Computer Engineer</option>
            <option value="Computer Science">Computer Science</option>
            <option value="creative writing">Creative Writing</option>
            <option value="digitalmedia">Digital Media, Arts, and Technology</option>
            <option value="elec/comp tech">Electrical and Computer Engineering Techonology</option>
            <option value="electrical">Electrical Engineering</option>
            <option value="child ed">Elementary and Early Childhood Education</option>
            <option value="english">English</option>
            <option value="envScience">Environmental Science</option>
            <option value="finance">Finance</option>
            <option value="Software Engineer">Software Engineer</option>
        </select><pre></pre>

        <label type="text" for = "minor">Minor (optional)</label>
        <select id="minor" [formControl]="minor">
            <option value=""></option>
            <option value="accounting">Accounting</option>
            <option value="biology">Biology</option>
            <option value="businessecon">Business Economics</option>
            <option value="chemistry">Chemistry</option>
            <option value="comm">Communications</option>
            <option value="Computer Engineer">Computer Engineer</option>
            <option value="Computer Science">Computer Science</option>
            <option value="creative writing">Creative Writing</option>
            <option value="digitalmedia">Digital Media, Arts, and Technology</option>
            <option value="elec/comp tech">Electrical and Computer Engineering Techonology</option>
            <option value="electrical">Electrical Engineering</option>
            <option value="child ed">Elementary and Early Childhood Education</option>
            <option value="english">English</option>
            <option value="envScience">Environmental Science</option>
            <option value="finance">Finance</option>
            <option value="Software Engineer">Software Engineer</option>
        </select>
        <pre></pre>

        <label type="date" for = "grad date">Estimated Graduation Month and Year</label>
        <br><br>
        <input type="text" id="date" placeholder="Month" size="25" [formControl]="gradMonth">
        <input type="text" id="date" placeholder="Year" size="25" [formControl]="gradYear">
        <pre></pre>
        <br>

        <label type="text" for = "campus">Choose whether you would like your research opportunity matches to include on campus research, online research, or both*</label>
        <mat-radio-group class="radio-btns" [formControl]="location">
            <mat-radio-button value="On-Campus" style="font-family: Arial;" class="radio-style">On-Campus</mat-radio-button>
            <mat-radio-button value="Online" style="font-family: Arial;" class="radio-style">Online</mat-radio-button>
            <mat-radio-button value="On-Campus/Online" style="font-family: Arial;" class ="radio-style">No Preference</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="location.invalid && location.dirty">{{getLocationErrorMessage()}}</mat-error>

        <br><br>
        <label type="text" for = "money">Choose whether you would like your research opportunity matches to include paid research, non-paid research, or research that offers credit*</label>
        <input type="checkbox" name="money" id="paid" value="paid" [formControl]="paid">
        <label type="options" for="paid">Paid </label>
        <input type="checkbox" name="money" id="nonpaid" value="nonpaid" [formControl]="nonpaid">
        <label type="options" for="nonpaid">Non-paid </label>
        <input type="checkbox" name="money" id="credit" value="credit" [formControl]="credit">
        <label type="options" for="nonpaid">Research Credit </label>
        <mat-error *ngIf="studentForm.invalid">{{getPaidErrorMessage()}}</mat-error>
        <br><br>

        <!-- <label type="skills" for = "acquired skills">List any skills you have (Seperate by semicolon)</label>
        <textarea  rows="7" cols="75" name="acquired skills" id="acquired skills" placeholder="Skill 1;Skill 2;Skill 3"></textarea> -->

        <label type="text" >List any research intersts you have (Separate by semicolon)</label>
        <textarea  rows="7" cols="75" name="acquired skills" id="acquired skills" placeholder="Interest 1;Interest 2;Interest 3" [formControl]="interest"></textarea>

        <label type="text">List any previous research projects you have participated in (Separate by semicolon)</label>
        <textarea  rows="7" cols="75" name="acquired skills" id="acquired skills" placeholder="Research Project 1;Research Project 2;Research Project 3" [formControl]="projects"></textarea>

        <label type="text" for = "acquired skills">List any skills you have and your skill level for each skill</label>
        <div *ngFor="let item of skillForm; index as i">
            <input style="width: 300px" placeholder="skill" [(ngModel)]="item.skill" [ngModelOptions]="{standalone: true}">
            <select [(ngModel)]="item.skillLevel" [ngModelOptions]="{standalone: true}">
            <option value="Basic">Basic Knowledge</option>
            <option value="Novice">Novice</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Advanced">Advanced</option>
            <option value="Expert">Expert</option>
          </select><button (click)="removeSkillField(i)">Remove skill</button>
        </div><button class="addbtn" (click)="addSkillField()">Add Another Skill</button> <br><br>


        <label type="text" for = "associated links">Include up to 3 links for any further information about yourself.</label>
        <input type="text" id="link1" placeholder="Link 1" size="50" [formControl]="link1">
        <input type="text" id="link2" placeholder="Link 2" size="50" [formControl]="link2">
        <input type="text" id="link3" placeholder="Link 3" size="50" [formControl]="link3">
        <br><br>

        <button class="submitBtn" (click)="goToStudentHomePage();">Submit</button>
        <br><br>

     </form>
</div>

