<app-banner-no-buttons></app-banner-no-buttons>
<p></p>
<div class="form">

    <h1>
        Student Profile Creation
     </h1>
     <form>
        <button class="btns" mat-stroked-button>Add Resume</button>
        <button class="btns" mat-stroked-button (click)="openFile()">Add Profile Picture
            <input type="file" style="display:none" (change)="handle($event)">
        </button>
        <br><br>

        <label type="first_name" for = "first_name">First Name</label>
        <input type="text" id="first_name" placeholder="Enter First Name" size="50" [formControl]="firstName">
        <br> <br>

        <label type="last_name" for = "last_name">Last Name</label>
        <input type="text" id="last_name" placeholder="Enter Last Name" size="50" [formControl]="lastName">
        <br> <br>

        <label for = "email">Email</label>
        <input type="text" id="email" placeholder="Enter PSU Email" size="50" [formControl]="email">
        <br> <br>

        <label for = "phone">Phone Number</label>
        <input type="text" id="phone" placeholder="Enter Phone Number" size="50" [formControl]="phone">
        <br><br>

        <label for = "gpa">GPA</label>
        <input type="text" id="gpa" placeholder="Enter GPA" size="50" [formControl]="gpa">
        <pre></pre>

        <label for = "major">Major</label>
        <select id="major" [formControl]="major">
            <option value="accounting">Accounting</option>
            <option value="biology">Biology</option>
            <option value="businessecon">Business Economics</option>
            <option value="chemistry">Chemistry</option>
            <option value="comm">Communications</option>
            <option value="compEng">Computer Engineering</option>
            <option value="compsci">Computer Science</option>
            <option value="creative writing">Creative Writing</option>
            <option value="digitalmedia">Digital Media, Arts, and Technology</option>
            <option value="elec/comp tech">Electrical and Computer Engineering Techonology</option>
            <option value="electrical">Electrical Engineering</option>
            <option value="child ed">Elementary and Early Childhood Education</option>
            <option value="english">English</option>
            <option value="envScience">Environmental Science</option>
            <option value="finance">Finance</option>
        </select>
        <pre></pre>

        <label for = "minor">Minor</label>
        <select id="minor" [formControl]="minor">
            <option value="accounting">Accounting</option>
            <option value="biology">Biology</option>
            <option value="businessecon">Business Economics</option>
            <option value="chemistry">Chemistry</option>
            <option value="comm">Communications</option>
            <option value="compEng">Computer Engineering</option>
            <option value="compsci">Computer Science</option>
            <option value="creative writing">Creative Writing</option>
            <option value="digitalmedia">Digital Media, Arts, and Technology</option>
            <option value="elec/comp tech">Electrical and Computer Engineering Techonology</option>
            <option value="electrical">Electrical Engineering</option>
            <option value="child ed">Elementary and Early Childhood Education</option>
            <option value="english">English</option>
            <option value="envScience">Environmental Science</option>
            <option value="finance">Finance</option>
        </select>
        <pre></pre>

        <label type="date" for = "grad date">Estimated Graduation Month and Year</label>
        <br><br>



        <input type="text" id="date" placeholder="Month" size="25" [formControl]="gradMonth">
        

        <input type="text" id="date" placeholder="Year" size="25" [formControl]="gradYear">
        <pre></pre>
        <br><br>



        <label for = "campus">Choose whether you would like your research opportunity matches to include to on campus research, online research, or both.</label>
        <mat-radio-group class="radio-btns" [formControl]="location">
            <mat-radio-button value="0" class="radio-style">On-Campus</mat-radio-button>
            <mat-radio-button value="1" class="radio-style">Online</mat-radio-button>
            <mat-radio-button value="2" class="radio-style">No Preference</mat-radio-button>
          </mat-radio-group>

        <!-- <input type="checkbox" name="campus" id="on campus" value="on campus">
        <label type="options" for="on campus">On Campus</label>
        <input type="checkbox" name="campus" id="off campus" value="off campus">
        <label type="options" for="off campus">Online</label> -->

        <br><br>
        <label for = "money">Choose whether you would like your research opportunity matches to include paid research, non-paid research, or research that offers credit. </label>
        <input type="checkbox" name="money" id="paid" value="paid" [formControl]="paid">
        <label type="options" for="paid">Paid </label>
        <input type="checkbox" name="money" id="nonpaid" value="nonpaid" [formControl]="nonpaid">
        <label type="options" for="nonpaid">Non-paid </label>
        <input type="checkbox" name="money" id="credit" value="credit" [formControl]="credit">
        <label type="options" for="nonpaid">Research Credit </label>
        <br><br>


        <label type="skills" for = "acquired skills">List any skills you have (Seperate by semicolon)</label>
        <textarea  rows="7" cols="75" name="acquired skills" id="acquired skills" placeholder="Skill 1;Skill 2;Skill 3" [formControl]="skills"></textarea>
        
        <label type="research_interest" >List any research intersts you have (Seperate by semicolon)</label>
        <textarea  rows="7" cols="75" name="acquired skills" id="acquired skills" placeholder="Interest 1;Interest 2;Interest 3" [formControl]="interest"></textarea>

        <label type="research_projects">List any previous research projects you have participated in (Seperate by semicolon)</label>
        <textarea  rows="7" cols="75" name="acquired skills" id="acquired skills" placeholder="Research Project 1;Research Project 2;Research Project 3" [formControl]="projects"></textarea>

        <label for = "associated links">Include up to 3 links for any further information about yourself.</label>
        <input type="text" id="link1" placeholder="Link 1" size="50" [formControl]="link1">
        <input type="text" id="link2" placeholder="Link 2" size="50" [formControl]="link2">
        <input type="text" id="link3" placeholder="Link 3" size="50" [formControl]="link3">
        <br><br>


        <button class="submitBtn" (click)="goToStudentHomePage();">Submit</button>
        <br><br>

     </form>
</div>

