<app-banner-no-buttons></app-banner-no-buttons>
<p></p>
<div class="form">

    <h1>
        Student Profile Creation
     </h1>
     <form>
        <input type="button" value="Add Resume" id="btn2">
        <br><br>

        <label type="first_name" for = "first_name">First Name</label>
        <input type="text" id="first_name" placeholder="Enter First Name" size="50">
        <br> <br>

        <label type="last_name" for = "last_name">Last Name</label>
        <input type="text" id="last_name" placeholder="Enter Last Name" size="50">
        <br> <br>

        <label for = "email">Email</label>
        <input type="text" id="email" placeholder="Enter PSU Email" size="50">
        <br> <br>
        



        <label for = "phone">Phone Number</label>
        <input type="text" id="phone" placeholder="Enter Phone Number" size="50">
        <br><br>

        <label for = "gpa">GPA</label>
        <input type="text" id="gpa" placeholder="Enter GPA" size="50">
        <pre></pre>

        <label type="date" for = "grad date">Estimated Graduation Month and Year</label>
        <br><br>
        <input type="text" id="date" placeholder="Month" size="25">
        

        <input type="text" id="date" placeholder="Year" size="25">
        <pre></pre>
        <br><br>

        <div class="left-container">
            <br><span class="filter-title">Select all majors of interest for research</span>
            <mat-nav-list>
                <mat-list-item (click)="toggle[1] = !toggle[1]">
                    <a matLine *ngIf="!toggle[1]"><mat-icon>keyboard_arrow_right</mat-icon></a>
                    <a matLine *ngIf="toggle[1]"><mat-icon>keyboard_arrow_down</mat-icon></a>
                    <a style="padding-bottom: 2.5px; margin-right: 400px;">Engineering</a>
                    <span>
                  <mat-icon *ngIf="!toggle[1]"></mat-icon>
                  <mat-icon *ngIf="toggle[1]"></mat-icon>
                 </span>
                </mat-list-item>
            
                <div [hidden]="!toggle[1]">
                    <mat-selection-list>
                        <mat-list-option *ngFor="let item of engineeringItems" checkboxPosition="before">
                            {{ item }}
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            
                <mat-list-item (click)="toggle[2] = !toggle[2]">
                    <a matLine *ngIf="!toggle[2]"><mat-icon>keyboard_arrow_right</mat-icon></a>
                    <a matLine *ngIf="toggle[2]"><mat-icon>keyboard_arrow_down</mat-icon></a>
                    <a style="padding-bottom: 2.5px; margin-right: 400px;">Visual Arts</a>
                    <span>
                  <mat-icon *ngIf="!toggle[2]"></mat-icon>
                  <mat-icon *ngIf="toggle[2]"></mat-icon>
                 </span>
                </mat-list-item>
            
                <div [hidden]="!toggle[2]">
                    <mat-selection-list>
                        <mat-list-option *ngFor="let item of humanitiesSocialScienceItems" checkboxPosition="before">
                            {{ item }}
                        </mat-list-option>
                    </mat-selection-list>
                </div>
    
                <mat-list-item (click)="toggle[3] = !toggle[3]">
                    <a matLine *ngIf="!toggle[3]"><mat-icon>keyboard_arrow_right</mat-icon></a>
                    <a matLine *ngIf="toggle[3]"><mat-icon>keyboard_arrow_down</mat-icon></a>
                    <a style="padding-bottom: 2.5px; margin-right: 400px;">Business</a>
                    <span>
                  <mat-icon *ngIf="!toggle[3]"></mat-icon>
                  <mat-icon *ngIf="toggle[3]"></mat-icon>
                 </span>
                </mat-list-item>
            
                <div [hidden]="!toggle[3]">
                    <mat-selection-list>
                        <mat-list-option *ngFor="let item of businessItems" checkboxPosition="before">
                            {{ item }}
                        </mat-list-option>
                    </mat-selection-list>
                </div>
    
                <mat-list-item (click)="toggle[4] = !toggle[4]">
                    <a matLine *ngIf="!toggle[4]"><mat-icon>keyboard_arrow_right</mat-icon></a>
                    <a matLine *ngIf="toggle[4]"><mat-icon>keyboard_arrow_down</mat-icon></a>
                    <a style="padding-bottom: 2.5px; margin-right: 400px;">Humanities</a>
                    <span>
                  <mat-icon *ngIf="!toggle[4]"></mat-icon>
                  <mat-icon *ngIf="toggle[4]"></mat-icon>
                 </span>
                </mat-list-item>
            
                <div [hidden]="!toggle[4]">
                    <mat-selection-list>
                        <mat-list-option *ngFor="let item of humanitiesSocialScienceItems" checkboxPosition="before">
                            {{ item }}
                        </mat-list-option>
                    </mat-selection-list>
                </div>
    
                <mat-list-item (click)="toggle[5] = !toggle[5]">
                    <a matLine *ngIf="!toggle[5]"><mat-icon>keyboard_arrow_right</mat-icon></a>
                    <a matLine *ngIf="toggle[5]"><mat-icon>keyboard_arrow_down</mat-icon></a>
                    <a style="padding-bottom: 2.5px; margin-right: 400px;">Sciences</a>
                    <span>
                  <mat-icon *ngIf="!toggle[5]"></mat-icon>
                  <mat-icon *ngIf="toggle[5]"></mat-icon>
                 </span>
                </mat-list-item>
            
                <div [hidden]="!toggle[5]">
                    <mat-selection-list>
                        <mat-list-option *ngFor="let item of scienceItems" checkboxPosition="before">
                            {{ item }}
                        </mat-list-option>
                    </mat-selection-list>
                </div>
    
                <mat-list-item (click)="toggle[6] = !toggle[6]">
                    <a matLine *ngIf="!toggle[6]"><mat-icon>keyboard_arrow_right</mat-icon></a>
                    <a matLine *ngIf="toggle[6]"><mat-icon>keyboard_arrow_down</mat-icon></a>
                    <a style="padding-bottom: 2.5px; margin-right: 400px;">Nursing</a>
                    <span>
                  <mat-icon *ngIf="!toggle[6]"></mat-icon>
                  <mat-icon *ngIf="toggle[6]"></mat-icon>
                 </span>
                </mat-list-item>
            
                <div [hidden]="!toggle[6]">
                    <mat-selection-list>
                        <mat-list-option *ngFor="let item of nursingItems" checkboxPosition="before">
                            {{ item }}
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            
            </mat-nav-list>
        </div>
        <br><br>

        <label for = "campus">Choose whether you would like your research opportunity matches to include to on campus research, online research, or both. You may choose multiple options  </label>
        <input type="checkbox" name="campus" id="on campus" value="on campus">
        <label type="options" for="on campus">On Campus</label>
        <input type="checkbox" name="campus" id="off campus" value="off campus">
        <label type="options" for="off campus">Online</label>
        <br><br>
        <label for = "money">Choose whether you would like your research opportunity matches to include paid research, non-paid research, or research that offeres credit. You may choose multiple options </label>
        <input type="checkbox" name="money" id="paid" value="paid">
        <label type="options" for="paid">Paid</label>
        <input type="checkbox" name="money" id="nonpaid" value="nonpaid">
        <label type="options" for="nonpaid">Non-paid</label>
        <br><br>


        <label type="skills" for = "acquired skills">List any skills you have (Seperate by semicolon)</label>
        <textarea  rows="7" cols="30" name="acquired skills" id="acquired skills" placeholder="Skill 1;Skill 2;Skill 3"></textarea>
        

        <label type="keywords" for = "keywords">Select any keywords from chosen departments</label>
        <textarea  rows="7" cols="30" name="keywords" id="keywords" placeholder="All keywords will be listed here. Students will be able to choose from a list of keywords based on their selected departments"></textarea>
        <br><br>


        <label for = "associated links">Include up to 3 links for any further information about yourself.</label>
        <input type="text" id="link1" placeholder="Link 1" size="50">
        <input type="text" id="link2" placeholder="Link 2" size="50">
        <input type="text" id="link3" placeholder="Link 3" size="50">
        <br><br>


        <input type="submit" value="Submit" id="submitBtn" (click)="goToStudentHomePage();">
        <br><br>

     </form>
</div>

