.form{
    max-width: 600px;
    margin:2rem auto;
    border: 2px solid #92a8d1;
    padding:2rem;
    background-color: #e4f2fe;
}
label{
        display: block;
    }
input{
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    
}
select{
    padding: 12px 20px;
    margin: 8px;
    font-size: 16px;
}

input[type = button]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 16px;
}

#department{
    width:400px;
    size:20px;
}
label[type = date]{
    display: inline-block;
}

textarea{
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    
}

#researchlocation{
    width:400px;
    size:20px;
}

label[type = options]{
    display: inline-block;
}



.submitBtn{
    border:0;
    background:#3d76df;
    padding: .5rem;
    color:white;
    margin:1rem 0;
    width:100%;
    text-align: center;
}

.container {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
}

.left-container{
    border: 1px solid gray;
    border-radius: 5px;
    flex: 1;
}

.right-container {
    padding-left: 10px;
    flex: 5;
}

.filter-title {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10px;
}

.result-title {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10px;
    font-size: 26px;
}

.radio-btns .mat-radio-container{
    height: 12px;
    width: 12px;
    margin-left: 5px;
}
.radio-btns .mat-radio-outer-circle{
    height: 12px;
    width: 12px;
    background-color: white;
}
.radio-btns .mat-radio-inner-circle{
    height: 12px;
    width: 12px;
}
.radio-btns .mat-radio-button .mat-radio-ripple{
    height: 20px; 
    width: 20px; 
    left: calc(50% - 10px); 
    top: calc(50% - 10px); 
}

.radio-style {
    font-family: 'Times New Roman', Times, serif;
    margin-right: 10px;
}

.btns {
    margin-right: 10px;
    width: 200px;
    height: 50px;
}

.mat-error {
    font-size: 12px;
}
.mat-error::before{
    content: '\a';
    white-space: pre;
}