<mat-toolbar class="toolbar" color="primary">
    <img src="https://behrend.psu.edu/sites/behrend/files/logos/PSU_EBO_RGB_2C.svg" class="PSUlogo">
    
    <div class="container">
        <div class="title-container">
            <span class="toolbar-title">Research Connect</span>
        </div>
        <div class="gradient-button-container">
            <button [ngClass]="this.pageName == 'home' ? 'mat-raised-button selected-button' : 'mat-raised-button gradient-button'" (click)="goToHomePage();">Home</button>
            <button [ngClass]="this.pageName == 'match page' ? 'mat-raised-button selected-button' : 'mat-raised-button gradient-button'" (click)="goToMatchPage();">Matches</button>
            <button [ngClass]="this.pageName == 'opp page' ? 'mat-raised-button selected-button' : 'mat-raised-button gradient-button'" (click)="goToOppBoardPage();">Opportunity Board</button>
            <button [ngClass]="this.pageName == 'app page' ? 'mat-raised-button selected-button' : 'mat-raised-button gradient-button'" (click)="goToApplicationPage();">Applied Researches</button>
            <button [ngClass]="this.pageName == 'faculty page' ? 'mat-raised-button selected-button' : 'mat-raised-button gradient-button'" (click)="goToFacultyListPage();">Research Mentor List</button>
            </div>

    </div>

    <div class="profile-btn-container">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="profile-logo" [matMenuTriggerFor]="menu">
    <div [matMenuTriggerFor]="menu">Profile</div>
    
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goToProfileViewPage();">View Profile</button>
        <button mat-menu-item (click)="goToEditProfilePage();">Edit Profile</button>
        <button mat-menu-item (click)="studentClickInbox();">Inbox</button>
        <button mat-menu-item (click)="signOut();">Sign Out</button>
    </mat-menu>
</div>

 </mat-toolbar>